/* General button styles */
.button {
    /* font-weight: 600; */
    font-size: .75rem;
    line-height: 1rem;
    padding-bottom: .5rem;
    padding-top: .5rem;
    padding-left: .75rem;
    padding-right: .75rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
/* Blue button */
.button-blue {
    background-color: #007bff;
    color: white;
}

.button-blue:hover {
    background-color: #0056b3;
}


/* controls wrapper */

.controls {
    display: flex;
    gap: 20px;
    padding: 10px;
    background-color: white;
}


/* Generic Node Style */

.custom-node {
    border-radius: 1rem;
    padding: .75rem;
    background-color: hsla(0,0%,100%,.7);
    box-shadow: 0 0 transparent, 0 0 #0000,0 0 transparent,0 0 #0000, 0 7px 9px 0 rgba(0,0,0,.02);
    border: 1px solid rgb(229 231 235);
}

.close-btn {
    width: 20px;
    height: 20px;
    border-radius: 1rem;
    background-color: hsla(0,0%,100%,.7);
    border: 1px solid rgb(229 231 235);
    box-shadow: 0 0 transparent, 0 0 #0000,0 0 transparent,0 0 #0000, 0 7px 9px 0 rgba(0,0,0,.02);
    text-align: center;
    padding: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;

}

.close-btn img {
    object-fit: contain;
    width: 9px;
    height: 9px;
}

.custom-node > label {
    padding-bottom: .5rem;
    padding-top: .5rem;
    padding-left: .75rem;
    padding-right: .75rem;
    width: calc(100% + 24px);
    background-color: #fffefe;
    display: block;
    margin: -12px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(229 231 235);
    margin-bottom: 0px;
    font-weight: 600;
    font-size: .75rem;
    line-height: 1rem;
}